@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .poppins {
  font-family: 'Poppins', sans-serif;
} */
.bg-primary {
  background: #f91944;
}
.bg-primary-dark {
  background: #ce193c;
}
.text-primary {
  color: #f91944;
}
.border-primary {
  border: 1px solid #f91944;
}

/* Glassmorphism card effect */
.glass {
  backdrop-filter: blur(14px) saturate(180%);
  -webkit-backdrop-filter: blur(14px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.57);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

@layer components {
  .menu_tab {
    @apply text-gray-800 cursor-pointer select-none text-center m-auto text-white;
  }
  .active_menu_tab {
    @apply rounded-md text-white select-none text-center m-auto;
  }
}

.header{
  background-color: RGB(31, 31, 31);
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
.rotate {
  animation: spin 10s linear infinite;
}


.testimonial-card-container {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.testimonial-card-content {
  background-color: #2f3e4e;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 220px; /* Adjust height as needed */
}

.testimonial-card-container:not(:first-child) {
  opacity: 0;
}


.loader {
  border-top-color: #3498db;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.account-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  transition: all 0.5s ease;
}

.account-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 400px;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.preferences-section {
  display: flex;
  flex-direction: column;
  transition: all 1.5s ease;
}

.preferences-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: all 1.5s ease;
}

.toggle-icon {
  transition: all 1.5s ease;
}

.preferences-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 1.5s ease;
}

.preferences-content.show {
  max-height: 500px; /* Adjust based on content */
}

.preference-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 0;
  transition: all 1.5s ease;
}

.logout-button {
  margin: 1.5rem 0;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.logout-button:hover {
  background-color: #ff3333;
  color: white;
}

.text-center {
  text-align: center;
}

@media (min-width: 1024px) {
  .account-container {
    padding-top: 0;
  }
}
